*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main_box{
position: relative;
background: url(coding\ computer\ photo.png) right no-repeat;
background-size: cover;
height: 100vh;
width: 100%;

}
.main_box .slider_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

}
.slider_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.slider_menu .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 30px;
    text-decoration: none;


}
.slider_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.slider_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;

}
.slider_menu .menu i{
    color: #fff;
    font-size: 20px;
    padding-right: 8px;


}
.slider_menu .menu a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;

}
.slider_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    

}